/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*** COMMON ***/
body {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 10px 30px;
    border: 1px solid #FFF;
    text-align: center;
    background: transparent;
    color: #FFF;
    display: inline-block;
    &:hover {
        background: #FFF;
        color: #333;
        cursor: pointer;
    }
}

/*** TABLE ***/
table {
    width: 100%;
}

/*** H TAGS ***/
h1 {
    font-size: 32px;
    color: #303030;
    margin-bottom: 15px;
}

/*** LOADING ***/
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF url(/media/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}